/documentacion
/Graficos
/correcciones
/__pycache__
*.ipynb_checkpoints
output.*
**venv
**/.DS_Store

# Archivos completos
introduccion_a_las_apis_complete.ipynb
curso_pandas_complete.ipynb

# Prueba resuelta
Prueba_BI_SOLVED.ipynb